<html>
<h1>Escape Rooms</h1>
<!-- <ul class="businesses">
  <li *ngFor="let business of business" (click)="onSelect(business)"> -->
    <!-- <span class="badge"> </span> -->
    <!-- Business: {{business.name}}
    <br />
    Location: {{business.location}}
    <br />
    Themes: {{business.themes}}
    <br />
    
    <!-- use a tag and string interp to set up hyperlink images -->
    <!-- <br />
    <br />
  </li>
</ul> -->
<div class="deck">
  <div class="cardContainer">
    <div class="card" *ngFor="let business of business" (click)="onSelect(business)" >
     
      <a routerLink="/list-rooms/{{business.id}}">
      <h2>{{business.name}}</h2><br />
        <h3>Address: {{business.location}}</h3>
        <p>Themes: {{business.themes}}</p><br />
        <img src={{business.image}}></a>
    </div>
  </div>
</div>
</html>