<p>
  An escape room, also known as an "escape game", is a physical adventure game in which players solve a 
  series of puzzles and riddles using clues, hints, and strategy to complete the objectives at hand. Players
  are given a set time limit to unveil the secret plot which is hidden within the rooms. Escape rooms are inspired 
  by "escape-the-room"–style video games. Games are set in a variety of fictional locations, such as prison cells, 
  dungeons, and space stations, and usually the various puzzles and riddles themselves follow the theme of the room.
</p>
