body{
    background: url(../../assets/BRICKS.jpg) no-repeat center;
    background-size: 100% 100%;
    background-position: top center;
    width: 100%;
    height: 130%;
    color:white;
}

.themes{
    float: right;
    width: 55%;
}

a{
    color: white;
}

img{
    height: 15em;
    width: 23em;
}