<body>
<html>
<div *ngIf="business">

  <h2>{{business.name}} Details</h2>
  <br/>
  <h3>Location: {{business.location}}</h3>
  <br>
  <div class="roomThemes">
  <h3>Themes:</h3> 
  <h4>{{business.themes}}</h4>
  <h5></h5>
</div>
  <br>
  <h3>Price: ${{business.price}}</h3>
  <br>
  <h3>Hours: </h3>
    <h2>{{business.hours}}</h2>
    
  <br>
  <h3>Contact: {{business.phone}}</h3>
  <br>
  <img src={{business.image}}>
  <br>
  <a href="{{business.url}}"><button>Check out their site here!</button></a>
  <div>
    
  </div>

</div>

</html>
</body>