<body>
<html>

<div *ngIf="business">
 <div class="themes">
    <h3>Themes: </h3><br />
    <h4> {{business.roomTheme[0].name}}</h4>
    <h5>{{business.roomTheme[0].description}}</h5><br />
    <h4> {{business.roomTheme[1].name}}</h4>
    <h5>{{business.roomTheme[1].description}}</h5><br />
    <h4> {{business.roomTheme[2].name}}</h4>
    <h5>{{business.roomTheme[2].description}}</h5><br />
    <h4> {{business.roomTheme[3].name}}</h4>
    <h5>{{business.roomTheme[3].description}}</h5>
    <br>
    </div>
  <h1>{{business.name}} Details</h1>
 
  <br/>
  <h2>Location: {{business.location}}</h2>
  <br>
    
  <h3>Price: ${{business.price}}</h3>
  <br>
  <h3>Hours: </h3>
  <h4>{{business.hours[0]}}</h4>
  <h4>{{business.hours[1]}}</h4>
  <h4>{{business.hours[2]}}</h4>
  <h4>{{business.hours[3]}}</h4>
  <h4>{{business.hours[4]}}</h4>
  <h4>{{business.hours[5]}}</h4>
  <h4>{{business.hours[6]}}</h4>
  <h4>{{business.hours[7]}}</h4>
  <br>
  <h3>Contact: {{business.phone}}</h3>
  <br>

  <img src={{business.image}}>
  <br>
  <a href="{{business.url}}">Check out their site here!</a>

  </div>

</html>
</body>