<!-- HOME --><html>

  <h1>Make yourself an ESCAPEplan.</h1>
  <!-- Carousel section -->
  <div class="col-md-12">
  <carousel>
    <slide>
      <img src="../../assets/room-escape.jpg" alt="first slide" style="display: block; max-height: 500px; margin:0 auto;">
    </slide>
    <slide>
      <img src="../../assets/hero-room.jpg" alt="second slide" style="display: block; max-height: 500px; margin:0 auto;">
    </slide>
    <slide>
      <img src="../../assets/escape-room-template.jpg" alt="third slide" style="display: block; max-height: 500px; margin:0 auto;">
    </slide>
  </carousel>
  </div>
  <!-- Description of EscapeRooms -->
  <div class="col-md-12">
  <div class="info">
          <mat-card class="aboutrooms">
              <mat-card-header>
                <div mat-card-avatar class="himage3"></div>
                <mat-card-title>WHAT IS AN ESCAPE ROOM?</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../assets/escape.png" class="escape" alt="room-photo">
              <mat-card-content>
                <p>
                      A puzzle being solved in an escape room
                      <!-- An escape room, also known as an "escape game", is a physical adventure game in which players solve a 
                      series of puzzles and riddles using clues, hints, and strategy to complete the objectives at hand. Players
                      are given a set time limit to unveil the secret plot which is hidden within the rooms. Escape rooms are inspired 
                      by "escape-the-room"–style video games. Games are set in a variety of fictional locations, such as prison cells, 
                      dungeons, and space stations, and usually the various puzzles and riddles themselves follow the theme of the room. -->
                    
                </p>
              </mat-card-content>
              <mat-card-actions><br>
                <button mat-button class="historyButton">History</button>
                <!-- <button mat-button></button> -->
              </mat-card-actions>
          </mat-card>
  </div>
  <!-- About Us -->
  <div class="info">
      <mat-card class="aboutus">
          <mat-card-header>
            <div mat-card-avatar class="himage"></div>
            <mat-card-title>HOW THIS SITE CAME TO BE?</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/thinking.png" alt="Think-photo">
          <mat-card-content><br /><br />
            <p>
              A group of folk were wanting to find a good escape room to challenge together but soon realised the 
              lack of a site to find and compare escape rooms nearby for the best expierence for a good price.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="teamButton">Team</button>
            <!-- <button mat-button></button> -->
          </mat-card-actions>

      </mat-card>
  </div>
  
  <!-- Buisness admins add? -->
  <div class="info">
  <mat-card class="admin">
          <mat-card-header>
            <div mat-card-avatar class="himage2"></div>
            <mat-card-title>DO YOU HAVE A BUSINESS?</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="adminImage" src="../../assets/contact.png" alt="contact-photo">
          <mat-card-content>
            <p>
                  Contact us so you can have an account to update your buisness's themes and prices.
                  contact:  317-867-5309
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>Team</button> -->
           
            
            <button mat-button>Contact</button>
          </mat-card-actions>
        </mat-card>
  </div>
  </div>
  </html>