<!-- HOME -->
<div class="title">
<h1>Make yourself an ESCAPEplan.</h1>
</div>

<!-- Carousel section -->
<div class=carousel>
<h2></h2>
</div>

<!-- Description of EscapeRooms -->
<div class="info">
<h2>What is an Escape Room?</h2>
<p>
  A puzzle being solved in an escape room
  An escape room, also known as an "escape game", is a physical adventure game in which players solve a 
  series of puzzles and riddles using clues, hints, and strategy to complete the objectives at hand. Players
  are given a set time limit to unveil the secret plot which is hidden within the rooms. Escape rooms are inspired 
  by "escape-the-room"–style video games. Games are set in a variety of fictional locations, such as prison cells, 
  dungeons, and space stations, and usually the various puzzles and riddles themselves follow the theme of the room.
</p>
</div>

<!-- About Us -->
<div class="info">
<h2>How this site came to be</h2>
<p>
  A group of folk were wanting to find a good escape room to challenge together but soon realised the 
  lack of a site to find and compare escape rooms nearby for the best expierence for a good price.
</p>
</div>

<!-- Buisness admins add? -->
<div class="info">
<h2>Need an admin account for your buisness?</h2>
<p>
  Contact us so you can have an account to update your buisness's themes and prices.
  contact:  867-5309
</p>
</div>