<!-- HOME -->
<h1>Make yourself an ESCAPEplan.</h1>


<!-- Carousel section -->
<h2></h2>

<!-- Description of EscapeRooms -->
<div class="info">
        <mat-card class="aboutrooms">
            <mat-card-header>
              <div mat-card-avatar class="himage3"></div>
              <mat-card-title>WHAT IS AN ESCAPE ROOM?</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/escape.png" class="escape" alt="room-photo">
            <mat-card-content>
              <p>
                    A puzzle being solved in an escape room
                    <!-- An escape room, also known as an "escape game", is a physical adventure game in which players solve a 
                    series of puzzles and riddles using clues, hints, and strategy to complete the objectives at hand. Players
                    are given a set time limit to unveil the secret plot which is hidden within the rooms. Escape rooms are inspired 
                    by "escape-the-room"–style video games. Games are set in a variety of fictional locations, such as prison cells, 
                    dungeons, and space stations, and usually the various puzzles and riddles themselves follow the theme of the room. -->
                  
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>History</button>
              <!-- <button mat-button></button> -->
            </mat-card-actions>
        </mat-card>
</div>
<!-- About Us -->
<div class="info">
    <mat-card class="aboutus">
        <mat-card-header>
          <div mat-card-avatar class="himage"></div>
          <mat-card-title>HOW THIS SITE CAME TO BE</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/thinking.png" alt="Think-photo">
        <mat-card-content>
          <p>
            A group of folk were wanting to find a good escape room to challenge together but soon realised the 
            lack of a site to find and compare escape rooms nearby for the best expierence for a good price.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Team</button>
          <!-- <button mat-button></button> -->
        </mat-card-actions>
    </mat-card>
</div>

<!-- Buisness admins add? -->
<div class="info">
<mat-card class="admin">
        <mat-card-header>
          <div mat-card-avatar class="himage2"></div>
          <mat-card-title>NEED AN ADMIN ACCOUNT FOR YOUR BUSINESS?</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/contact.png" alt="contact-photo">
        <mat-card-content>
          <p>
                Contact us so you can have an account to update your buisness's themes and prices.
                contact:  317-867-5309
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>Team</button> -->
          <button mat-button>Contact</button>
        </mat-card-actions>
      </mat-card>
</div>
