<p>
  A group of team members by the names of Emily, Jason, Keagan, and Luke were wanting to find a good escape room to challenge together but soon realized the 
  lack of a site to find and compare escape rooms nearby for the best expierence for a good price. <br>
  <img src="../../assets/emily.jpg" class="grouppic" alt="emily-photo">
  <img src="../../assets/jason.jpg" class="grouppic" alt="jason-photo">
  <img src="../../assets/keagan.jpg" class="grouppic" alt="keagan-photo">
  <img src="../../assets/portrait (2).jpg" class="luke" alt="luke-photo">
</p>
