<!-- <h1>Update a Deal</h1>
<hr>

<mat-card style="text-align: center;">
  <div class="example-container">
    <mat-card-content>
      <form [formGroup]="businessEditForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Title" type="text" formControlName="nameOfBusiness">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="location">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="phone">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="hours">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="price">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="number_of_rooms">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="url">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="themes">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Update your deal!" formControlName="image">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Update Deal</button>
      </form>
    </mat-card-content>
  </div>
</mat-card>


<a mat-button routerLink="/deal">Back to Deals</a> -->